
body, h1, h2, p, ul {
    margin: 0;
    padding: 0;
  }
  #main{
    padding-left:80px;
  }
  
  .container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 20px;
    font-weight: bolder;
    font-size: 20px;
  }


header {
    background-image: url(feed.jpg);
    height: 90vh;
    background-size:cover;
    background-position:center;
}

ul {
    list-style-type: none;
    margin-top: 25px;
    margin-right: 20px;
    display: inline-flex;
    list-style:none;
    padding:20px 50px 20px 800px;  
    position:fixed;
    background-color: rgb(55, 186, 238,0.4);
}
ul li {
    display:block;
}
ul li a {
    text-decoration: none;
    font-weight: 600;
    color:rgb(255, 255, 255);
    padding: 12px 8px;
    border: 1px solid transparent;
    transition: 0.6s ease;
    position: sticky;
    
}
.active, ul li a:hover {
    background-color: rgb(55, 186, 238);
    color: rgb(0 0 0);
    text-decoration-thickness: 22px;    
}
.logo img {
    float: left;
    width: 12%;
   padding: 20px;
    padding-left:25px;
    background-color:rgb(55, 186, 238);
}
.title {
    position: absolute;
    top: 70%;
    left: 50%;
    transform: translate(-50%, -50%);
}
.title h1 {
    color: rgb(230, 233, 236);
    font-size: 50px;
    text-align: center;
    width: 1200px;
    text-shadow: 0 0 13px rgb(94, 164, 230); 
}
.action-image {
    height: 272px;
    overflow: hidden;
    display: flex;
    align-items: center;
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
}
.content-one{
    background-color:rgb(55, 186, 238);
}

.def-uni{
    margin-top: 30px;
    margin-bottom: 30px;
}
.uni-stand{
    margin-top: 30px;
    margin-bottom: 30px;
}
.uni-field{
    margin-top: 30px;
    margin-bottom: 30px;
}
h2{
    color:  #777779;
    padding-bottom: 25px;
    font-weight: bold;
}

@media (min-width: 48em) and (max-width: 63.9375em){
    p{
        margin: 0 0 45px 0;
    }
}

p {
    font-size: 1.1em;
    line-height: 1.4em;
    margin-bottom: 30px;
    color: #777779;
}
.container-def-uni{
    padding-left: 40px;
}
.info{
    padding-bottom:10px;
}
.container-uni-stand{
    padding-left: 40px;
}
.container-uni-field{
    padding-left: 40px;
}
#main-moto{
    color: rgb(55, 186, 238);
    font-weight: bolder;
    font-size: 35px;
}
.info-container{
    background-color:rgb(55, 186, 238);
}
#heading-info{
    text-align: center;
    font-size: 35px;
    color: white;
    padding-top: 20px;
    padding-bottom: 10px;
}
#info-para{
    color: white;
    padding-top: 10px;
    font-size: 19px;
}
.donation{
    margin-top: 10px;
    margin-bottom: 30px;
}
.donation-info{
    padding-left: 40px;
}

footer {
    background-color: #2b1a15;
    padding: 50px 0;
    position: absolute;
    width: 100%;
    color: aliceblue;
    font-size: 12px;
    background-image:  linear-gradient(to top, #062043, rgb(55, 186, 238));
}
footer p{
    font-size:15px;
}
footer img{
    text-align: center;
}
footer h2{
    font-size:24px;
}
ul {
    list-style: none;
}
.footer1 {
    display: flex;
    flex-wrap: wrap;
    width:85%;
    margin-left:70px;
    margin-right:40px;
    align-items: flex-start;
    justify-content: space-between;
}
.footer-col {
    flex-basis: 30%;
    padding: 11px;
    line-height: 10px;
}
.social p{
    text-decoration: none!important;
    font-size: 20px;
    color: #ffffff;
    padding-right: 260px;

}
.footer-form{
    color: white;
}
* {
    padding:0;
    margin: 0;
    box-sizing: border-box;
}
